player-connection-mode=Listen
player-connection-guid=3047295830
player-connection-debug=0
player-connection-project-name=TPShooter
player-connection-ip=10.214.7.17
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=0288534f27114878916f6e231aba490a
